# ==========================================
# PostgreSQL
# ==========================================

POSTGRES_VERSION=18

POSTGRES_CONTAINER_NAME=riwi_db_local

POSTGRES_DB=postgres
POSTGRES_USER=magdalena
POSTGRES_PASSWORD=123456

POSTGRES_PORT=5432

# ==========================================
# MongoDB
# ==========================================

MONGO_VERSION=8

MONGO_CONTAINER_NAME=mongodb_local

MONGO_PORT=27017